::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba($color: #b4f2e1, $alpha: 0.87);
  &:hover {
    background: rgba($color: #fa9191, $alpha: 0.87);
  }
}

body {
  transition: 0.2s all ease;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: rgba($color: #fff, $alpha: 0.87);
  height: 3px;
  transition-property: left, right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

@-webkit-keyframes scale {
  to {
    transform: scale(1);
    transition: 6.5s transform;
  }
}

@keyframes scale {
  to {
    transform: scale(1);
    transition: 6.5s transform;
  }
}

@-webkit-keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(15px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(15px);
  }
}

.blur {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.heart {
  display: inline-block;
  height: 16px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 16px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: inherit;
  border-radius: 50%;
  height: 16px;
  position: absolute;
  width: 16px;
}

.heart:before {
  top: -8px;
  left: 0;
}

.heart:after {
  left: 8px;
  top: 0;
}

.bay-len-nao {
  z-index: 2000;
  transition: 0.3s all ease;
  -webkit-animation: bay 1.5s ease-out;
  animation: bay 1.5s ease-out;
}

@-webkit-keyframes bay {
  to {
    transform: translateY(-120px) scale(1.5);
    opacity: 0;
  }
}

@keyframes bay {
  to {
    transform: translateY(-120px) scale(1.5);
    opacity: 0;
  }
}
